* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
}

.navbar {
  background-color: aliceblue;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  min-height: 70px;
}

.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.navLinkChange {
  color: black;
}

.navLink {
  color: grey;
}

.profile {
  background-color: darkslategrey;
  min-height: 300px;
}